body {
  background-color: lightblue;
}

#add-link {
  margin-bottom: 50px;
  padding-bottom: 380px;
}

#links {
  padding-top: 10px;
}

.form-control {
  min-height: 2em;
}

.card {
  background-color: white;
  padding: 10px 20% 10px 20%;
  margin: 10px 50px 10px 50px;

}

.btn {
  padding: 5px;
  margin: 5px;
}

.link-body {
margin: 30px 0;
max-width: 50ch;
line-height: 1.5;
overflow: hidden;
position: relative;
}

.link-truncated {
  max-height: 3em; /*display ellipsis after 2 lines*/
}

.link-body:before  {
background: #fff;
bottom: 0;
position: absolute;
right: 0;
content: '\2026';

}

.link-body:after{
content: '';
background: #fff;
position: absolute;
height: 50px;
width: 100%;
z-index: 1;
}
